.fr {
	float: right;
}

/* fix height shift */
.container {
  min-height: 300px;
  *height: 300px;
  _height: 300px;
}

table {
	width: 100%;
	margin-bottom: 1em;
}

td, tr {
	padding: .3em .5em;
}

fieldset, .views-exposed-form {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #aaa;
}

.view-header {
	margin-bottom: 1em;
}

#footer .block {
	background: none !important;
}

/* content module fix */
table#content-field-overview td {
	vertical-align: bottom;
}
table#content-field-overview .label-add-new-field {
	float: none !important;
}

.menu-list li a.active {
	color: white;
}
#sub-menu {
	margin-top: 10px;
}

.messages {
	background-color: #FFD;
	color: #220;
	padding: 2px;
	border: 1px solid #F0C020;
	margin-bottom: 1em;
}

#mission, .help {
	font-style: italic;
	padding: 1em;
	margin-bottom: 1em;
}

h2.title {
	margin-bottom: 0.5em;
}

.tabs {
	margin-bottom: 1.5em;
}

/* admin exposed form fix */
dl.multiselect dd.b .form-item select {
  padding: 0;
}

/* fix user admin page */
#user-admin-filter ul li {
  list-style-type: none;
}

/* fix node teaser view spacing */
.node {
  margin-bottom: 3em;
}

/* fix sidebar item style */
h4.views-field-title {
  margin-bottom: .5em;
}

/* fix panel separator */
.panel-region-separator {
  height: 3em;
}

/* fix view row spacing */
.views-row {
  margin-bottom: 2em;
}

/* fix ds region spacing */
.nd-region-middle {
  padding: 1em;
}

/* add slideshow theme */
.views_slideshow_cycle_slide {
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.views_slideshow_cycle_slide .views-row {
  background: black;
  color: white;
  margin-bottom: 0;
}

/* improve field reading */
.field-items .field-item {
  padding-left: .5em;
}
.field-body p {
  padding-left: .5em;
}

/* fix node form text length */
.node-form .form-text {
  width: auto !important; 
}

/* fix autocomplete widget icon */
html.js input.form-autocomplete {
  background-position-y: 5px !important;
}

/* fix select box height */
select {
  height: 26px;
  margin: 2px;
}
